
/*   this is CSS for browser    */

.match, .mark, .markMark {
	background: #fff481 !important;
	padding-left:3px;
	padding-right:2px;
	color:black;
}

.links_item_for_seometahelper{
	border: 1px solid red !important;
}

.links_item_for_seometahelper.nofollow{
	text-decoration: line-through;
}
.lists_item_for_seometahelper{
	border: 1px solid green !important;
}

.lists_item_for_seometahelper.nofollow{
	text-decoration: line-through;
}
